<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="BlazoriseMyGet" value="https://www.myget.org/F/blazorise/api/v3/index.json" />
		  <add key="Dotnet" value="https://pkgs.dev.azure.com/ZocoSoft/Framework/_packaging/Dotnet/nuget/v3/index.json" />
    </packageSources>
	<packageSourceCredentials>
		<Dotnet>
			<add key="Username" value="Dotnet" />
			<add key="ClearTextPassword" value="qngwrgs3rcdkaa7oyfokmhsddqah4kalcxvk3q5xoo4kjvcfsyga" />
		</Dotnet>
  </packageSourceCredentials>
</configuration>